<a href="https://colab.research.google.com/github/Ahnkyuwon504/Pythonic/blob/main/1.%20Python%20Struct/dictcomp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
dial_codes = [
    (880, 'Bangladesh'),
    (55, 'Brazil'),
    (86, 'China'),
    (91, 'India'),
    (62, 'Indonesia'),
    (81, 'Japan'),
    (234, 'Nigeria'),
    (92, 'Pakistan'),
    (7, 'Russia'),
]

In [2]:
country_dial = {country: code for code, country in dial_codes}
print(country_dial)

{'Bangladesh': 880, 'Brazil': 55, 'China': 86, 'India': 91, 'Indonesia': 62, 'Japan': 81, 'Nigeria': 234, 'Pakistan': 92, 'Russia': 7}

In [4]:
filtered_country_dial = {
  code: country.upper()
  for country, code in sorted(country_dial.items()) if code < 70
}
print(filtered_country_dial)

{55: 'BRAZIL', 62: 'INDONESIA', 7: 'RUSSIA'}

In [5]:
def dump(**kwargs):
  return kwargs

dump(**{'x': 1}, y=2, **{'z': 3})

{'x': 1, 'y': 2, 'z': 3}

In [6]:
d1 = {'a': 1, 'b': 3}
d2 = {'a': 2, 'b': 4, 'c': 6}
d1 | d2

{'a': 2, 'b': 4, 'c': 6}

In [9]:
print(d1)
d1 |= d2
print(d1)

{'a': 1, 'b': 3}
{'a': 2, 'b': 4, 'c': 6}